<div class="navbar">
    <div class="navBrand">        
        <a><h1>Better GDKP</h1></a>
    </div>


    <div class="navButtons">
        <button mat-button [routerLink]="['']">Home</button>
        <button mat-button *ngIf="this.discordAuthService.token" [routerLink]="['profile']">Profile</button>
        <button mat-button *ngIf="!this.discordAuthService.token" (click)="login()">Login</button>
        <button mat-button >Events</button>
        <button mat-button >Sales</button>
    </div>
</div>


